$bg-1: #7a7a7a;
$bg-2: #c60202;
$bg-3: #1c2334;
$bg-4: #ebf1f8;
$bg-5: #2a2a2a;
$bg-6: #333;
$bg-7: #2e2e2e;
$bg-8: #2d2d2d;
$bg-9: #8a8a8a;
$bg-10: #f1ff00;

$color-1: #5a5a5a;
$color-2: #7f7f7f;

$zIndex-1: 5;
$zIndex-2: 20;
$zIndex-3: 50;
$zIndex-4: 100;
